.elementor-93
  .elementor-element.elementor-element-f0bff28
  > .elementor-background-overlay {
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-93 .elementor-element.elementor-element-f0bff28 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 20px 0px 20px 0px;
}
.elementor-bc-flex-widget
  .elementor-93
  .elementor-element.elementor-element-50b4b4f.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-93
  .elementor-element.elementor-element-50b4b4f.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-93
  .elementor-element.elementor-element-50b4b4f
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 10px 10px 10px 30px;
}
.elementor-93
  .elementor-element.elementor-element-50b4b4f
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-93
  .elementor-element.elementor-element-e3b43e3
  .aux-modern-heading-primary {
  font-size: 50px;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 1px 1px 1px #ff0000;
  margin: 20px 0px 20px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-93
  .elementor-element.elementor-element-e3b43e3
  .aux-modern-heading-secondary {
  font-size: 30px;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-93
  .elementor-element.elementor-element-e3b43e3
  .aux-modern-heading-secondary
  .aux-head-highlight {
  font-size: 30px;
  font-weight: 300;
  color: #00ff34;
  margin: 0px 0px 0px 0px;
}
.elementor-93
  .elementor-element.elementor-element-e3b43e3
  .aux-modern-heading-description {
  color: #7e1919;
  font-family: "Acme", Poppins;
  font-size: 25px;
  font-weight: 500;
  max-width: 700px;
}
.elementor-93
  .elementor-element.elementor-element-e3b43e3
  > .elementor-widget-container {
  border-style: none;
}
.elementor-93 .elementor-element.elementor-element-e3b43e3 {
  animation-duration: 1000ms;
  animation-delay: 500ms;
  animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.elementor-93 .elementor-element.elementor-element-ad4b0c2 {
  text-align: center;
  width: auto;
  max-width: auto;
}
.elementor-93 .elementor-element.elementor-element-ad4b0c2 .aux-button {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.elementor-93
  .elementor-element.elementor-element-ad4b0c2
  > .elementor-widget-container {
  margin: 0px 25px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-93 .elementor-element.elementor-element-05e0f7b {
  text-align: center;
  width: auto;
  max-width: auto;
}
.elementor-93 .elementor-element.elementor-element-05e0f7b .aux-button {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.elementor-93
  .elementor-element.elementor-element-05e0f7b
  > .elementor-widget-container {
  margin: 0px 0px 0px 25px;
  padding: 0px 0px 0px 0px;
}
.elementor-bc-flex-widget
  .elementor-93
  .elementor-element.elementor-element-149b7ff.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-93
  .elementor-element.elementor-element-149b7ff.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-93
  .elementor-element.elementor-element-149b7ff.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-93
  .elementor-element.elementor-element-149b7ff
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 5px 5px 5px 5px;
}
.elementor-93
  .elementor-element.elementor-element-149b7ff
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-93 .elementor-element.elementor-element-3c6927a img {
  width: 100%;
  opacity: 1;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}
.elementor-93
  .elementor-element.elementor-element-3c6927a
  > .elementor-widget-container {
  padding: 50px 50px 50px 50px;
}
.elementor-93 .elementor-element.elementor-element-3c6927a {
  animation-duration: 1000ms;
  animation-delay: 500ms;
  animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.elementor-93 .elementor-element.elementor-element-1790b4a {
  margin-top: 0px;
  margin-bottom: 0px;
}
.elementor-93 .elementor-element.elementor-element-916bffd img {
  width: 25%;
}
.elementor-93
  .elementor-element.elementor-element-916bffd
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-93 .elementor-element.elementor-element-916bffd {
  width: auto;
  max-width: auto;
  position: absolute;
  top: -220px;
  left: 300px;
}
.elementor-93 .elementor-element.elementor-element-d1b2689 img {
  width: 15%;
}
.elementor-93 .elementor-element.elementor-element-d1b2689 {
  width: auto;
  max-width: auto;
  position: absolute;
  top: -20px;
}
.elementor-93 .elementor-element.elementor-element-5b98c09 {
  text-align: right;
  width: auto;
  max-width: auto;
}
.elementor-93 .elementor-element.elementor-element-5b98c09 img {
  width: 15%;
}
.elementor-93 .elementor-element.elementor-element-4efff51 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 50px 0px 50px 0px;
}
.elementor-93 .elementor-element.elementor-element-757e3c6 {
  text-align: left;
}
.elementor-93 .elementor-element.elementor-element-757e3c6 img {
  width: 60%;
}
.elementor-93 .elementor-element.elementor-element-591ae56 {
  text-align: right;
}
.elementor-93 .elementor-element.elementor-element-591ae56 img {
  width: 60%;
}
.elementor-bc-flex-widget
  .elementor-93
  .elementor-element.elementor-element-6f635e6.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-93
  .elementor-element.elementor-element-6f635e6.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-93
  .elementor-element.elementor-element-6f635e6:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-93
  .elementor-element.elementor-element-6f635e6
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #000000b5;
}
.elementor-93
  .elementor-element.elementor-element-6f635e6
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 0px 50px;
}
.elementor-93
  .elementor-element.elementor-element-6f635e6
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-93
  .elementor-element.elementor-element-97d21c7
  .aux-widget-inner
  > * {
  text-align: center;
  margin-left: auto !important;
  margin-right: auto !important;
}
.elementor-93
  .elementor-element.elementor-element-97d21c7
  .aux-modern-heading-primary {
  font-size: 70px;
  font-weight: 700;
  -webkit-text-stroke-color: #000;
  stroke: #000;
  color: #ffffff;
  text-shadow: 1px 1px 1px #ff0000;
  margin: 0px 0px 0px 0px;
}
.elementor-93
  .elementor-element.elementor-element-97d21c7
  .aux-modern-heading-secondary {
  font-size: 30px;
  font-weight: 700;
  color: #beff41;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  margin: 0px 0px 20px 0px;
}
.elementor-93
  .elementor-element.elementor-element-97d21c7
  .aux-modern-heading-description {
  color: #ffffff;
  font-size: 25px;
  font-weight: 400;
}
.elementor-93
  .elementor-element.elementor-element-97d21c7
  > .elementor-widget-container {
  border-style: none;
}
.elementor-93 .elementor-element.elementor-element-97d21c7 {
  animation-duration: 1000ms;
  animation-delay: 500ms;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.elementor-93 .elementor-element.elementor-element-d265ea5 {
  text-align: right;
}
.elementor-93 .elementor-element.elementor-element-d265ea5 img {
  width: 60%;
}
.elementor-93 .elementor-element.elementor-element-6bd1d31 {
  text-align: left;
}
.elementor-93 .elementor-element.elementor-element-6bd1d31 img {
  width: 60%;
}
.elementor-93 .elementor-element.elementor-element-073e8d4 {
  padding: 50px 0px 50px 0px;
}
.elementor-bc-flex-widget
  .elementor-93
  .elementor-element.elementor-element-7ef0a4c.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-93
  .elementor-element.elementor-element-7ef0a4c.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-93
  .elementor-element.elementor-element-7ef0a4c.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-93 .elementor-element.elementor-element-4c0479f img {
  width: 15%;
}
.elementor-93
  .elementor-element.elementor-element-4c0479f
  > .elementor-widget-container {
  transition-duration: 1000ms;
  transition-property: all;
}
.elementor-93
  .elementor-element.elementor-element-2eaf31f
  .aux-widget-inner
  > * {
  text-align: center;
  margin-left: auto !important;
  margin-right: auto !important;
}
.elementor-93
  .elementor-element.elementor-element-2eaf31f
  .aux-modern-heading-primary {
  font-size: 50px;
  font-weight: 700;
  -webkit-text-stroke-color: #000;
  stroke: #000;
  color: #ffffff;
  text-shadow: 1px 1px 1px #ff0000;
  margin: 0px 0px 0px 0px;
}
.elementor-93
  .elementor-element.elementor-element-2eaf31f
  .aux-modern-heading-secondary {
  font-size: 22px;
  font-weight: 500;
  color: #beff41;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  margin: 0px 0px 20px 0px;
}
.elementor-93
  .elementor-element.elementor-element-2eaf31f
  > .elementor-widget-container {
  border-style: none;
}
.elementor-93 .elementor-element.elementor-element-2eaf31f {
  animation-duration: 1000ms;
  animation-delay: 500ms;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.elementor-93 .elementor-element.elementor-element-fe9b943 {
  width: auto;
  max-width: auto;
}
.elementor-93
  .elementor-element.elementor-element-2f9a98a
  .ha-justified-grid__wrap {
  --justified-grid-pull: 10px;
}
.elementor-93
  .elementor-element.elementor-element-2f9a98a
  .ha-justified-grid__item:hover
  img {
  cursor: default;
}
.elementor-93 .elementor-element.elementor-element-2f9a98a .ha-filter {
  text-align: left;
}
.elementor-93
  .elementor-element.elementor-element-71acf26
  .aux-widget-inner
  > * {
  text-align: center;
  margin-left: auto !important;
  margin-right: auto !important;
}
.elementor-93
  .elementor-element.elementor-element-71acf26
  .aux-modern-heading-primary {
  font-size: 50px;
  font-weight: 700;
  -webkit-text-stroke-color: #000;
  stroke: #000;
  color: #ffffff;
  text-shadow: 1px 1px 1px #ff0000;
  margin: 0px 0px 0px 0px;
}
.elementor-93
  .elementor-element.elementor-element-71acf26
  .aux-modern-heading-secondary {
  font-size: 22px;
  font-weight: 500;
  color: #beff41;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  margin: 0px 0px 20px 0px;
}
.elementor-93
  .elementor-element.elementor-element-71acf26
  > .elementor-widget-container {
  border-style: none;
}
.elementor-93 .elementor-element.elementor-element-71acf26 {
  animation-duration: 1000ms;
  animation-delay: 500ms;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.elementor-93 .elementor-element.elementor-element-dab5f9c {
  padding: 50px 0px 50px 0px;
}
.elementor-widget .tippy-tooltip .tippy-content {
  text-align: center;
}
@media (min-width: 768px) {
  .elementor-93 .elementor-element.elementor-element-50b4b4f {
    width: 70%;
  }
  .elementor-93 .elementor-element.elementor-element-149b7ff {
    width: 30%;
  }
  .elementor-93 .elementor-element.elementor-element-9e36f08 {
    width: 26%;
  }
  .elementor-93 .elementor-element.elementor-element-6f635e6 {
    width: 47.333%;
  }
  .elementor-93 .elementor-element.elementor-element-336dae0 {
    width: 26%;
  }
} /* Start custom CSS for image, class: .elementor-element-d1b2689 */
.animation {
  position: relative;
  animation: example 5s infinite;
}

@keyframes example {
  0%,
  100% {
    left: -50px;
  }

  50% {
    left: 50px;
  }
} /* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-5b98c09 */
.animation {
  position: relative;
  animation: example 5s infinite;
}

@keyframes example {
  0%,
  100% {
    left: -200px;
  }

  50% {
    left: 200px;
  }
} /* End custom CSS */
